<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorate="~{layout/LayoutPadrao}">

<head>
<title>Efectuar Matricula</title>

</head>

<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h4></h4>
					</div>

					<!-- 				<div class="col-sm-2"> -->
					<!-- 					<div class="aw-page-header-controls"> -->
					<!-- 						<a class="btn  btn-default" th:href="@{/allGrades}"> -->
					<!-- 							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisar</span> -->
					<!-- 						</a> -->
					<!-- 					</div> -->
					<!-- 				</div> -->
				</div>
			</div>
		</div>

		<div class="container-fluid">

			<th:block th:include="fragments/MensagemSucesso"></th:block>

			<form id="form-services" method="POST" th:object="${matricula}"
				class="form-vertical  js-form-loading">

				<h3>Matricular Aluno</h3>
				<div style="text-align: right">
					<label style="color: red">Hora: </label><b id="digital-clock"></b>
					<div class="bw-field-action__icon  js-img-loading"
						style="display: none">
						<img th:src="@{/images/mini-loading.gif}" />
					</div>
					<br> <label style="color: red">Data: </label> <b id="demo"></b><br>
				</div>
				<br>
				<th:block th:include="fragments/MensagensErroValidacao"></th:block>
				<input id="id" name="id" type="hidden" class="form-control"
					th:field="*{student.id}" />


				<fieldset class="scheduler-border">

					<legend class="scheduler-border"></legend>
					<div class="row">
						<div class="col-sm-3  form-group">
							<label for="ownid">Code </label> <input id="ownid"
								readonly="readonly" placeholder="Codigo " name="ownid"
								class="form-control" />
						</div>
						<div class="col-sm-3  form-group">
							<label for="name">Nome </label> <input id="name"
								readonly="readonly" placeholder="Nome do Aluno" name="name"
								class="form-control" />
						</div>
						<div class="col-sm-3  form-group">
							<label for="surname">Apelido </label> <input id="surname"
								readonly="readonly" placeholder="Apelido do Aluno"
								name="surname" class="form-control" />
						</div>
						<div class="form-group  col-sm-3  bw-required">
							<label for="gender" class="control-label">Gender</label>
							<div class="input-group">
								<input id="gender" type="text" name="gender" readonly="readonly"
									class="form-control" placeholder="Genero o Aluno" /> <span
									class="input-group-btn">
									<button class="btn  btn-default  js-tooltip" type="button"
										title="Pesquisa avancada" data-toggle="modal"
									style="color: red" 	data-target="#searchStudentModal">
										<i class="glyphicon  glyphicon-search"></i>
									</button>
								</span>
							</div>
						</div>

					</div>
					<div class="row">
					<div class="form-group  col-sm-3">
						<label for="estado">Turma</label> <select id="estado"
							th:field="*{grade.id}" class="form-control">
							<option value="">Selecione a Turma</option>
							<option th:each="estado : ${getClasses}" th:value="${estado.id}"
								th:text="${estado.description}"></option>
						</select>
					</div>
					<div class="col-sm-3  form-group">
						<label for="room">Classe </label> <input id="grade" name="grade"
							disabled="disabled" class="form-control" />
						<div class="bw-field-action__icon  js-img-loading"
							style="display: none">
							<img th:src="@{/images/mini-loading.gif}" />
						</div>
					</div>
					<div class="col-sm-3  form-group">
						<label for="room">Sala </label> <input id="room" name="room"
							disabled="disabled" class="form-control" />
						<div class="bw-field-action__icon  js-img-loading"
							style="display: none">
							<img th:src="@{/images/mini-loading.gif}" />
						</div>
					</div></div>
					<br> 

				</fieldset>
				<br> <br> <br>
				<div class="row">

					<div class="col-sm-3  form-group">
						<label for="value">Valor a Receber </label> <input id="value"
							th:field="*{value}" readonly="readonly" name="value"
							class="form-control" />
					</div>
					<div class="col-sm-3  form-group">
						<label for="mulct">Multa% </label> <input id="mulct" name="resul"
							th:field="*{mulct}" class="form-control js-decimal" />

					</div>
					<div class="col-sm-3  form-group">
						<label for="resul">Total a Pagar </label> <input id="resul"
							type="text" th:field="*{total}" readonly="readonly" name="resul"
							class="form-control" />
					</div>

					<div class="col-sm-3  form-group">
						<label for="transation">Transacao </label> <input id="transation"
							th:field="*{transation}" name="transation" readonly="readonly"
							class="form-control" />
					</div>

				</div>
				<br> <br>

				<div class="row">
					<div class="col-sm-3  form-group">
						<label for="sabor">Turno</label> <select id="sabor"
							class="form-control" th:field="*{period}">
							<option value="">Selecione o Turno</option>
							<option th:each="periode : ${getPeriods}" th:value="${periode}"
								th:text="${periode.description}"></option>
						</select>

					</div>
					<div class="col-sm-3  form-group">
						<label for="semester">Semestre</label> <select id="semester"
							class="form-control" th:field="*{semester}">
							<option value="">Selecione o Semestre</option>
							<option th:each="periode : ${getSemester}" th:value="${periode}"
								th:text="${periode.description}"></option>
						</select>

					</div>
				</div>



				<br> <br>
				<div class="form-group">
					<button class="btn  btn-danger" type="submit">Matricular
						Aluno</button>
				</div>
			</form>
		</div>
		<div th:replace="student/seach-student :: modal"></div>

	</section>

	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/academic/search-student.js}"></script>
		<script th:src="@{/javascripts/academic/class.js}"></script>
		<script th:src="@{/javascripts/academic/date-invoice.js}"></script>


	</th:block>

</body>
</html>