

<!-- <!DOCTYPE html> -->

<!-- <table -->
<!-- 	class="table table-hover table-condensed table-striped table-bordered"> -->
<!-- 	<thead> -->
<!-- 		<tr> -->

<!-- 			<td>Descricap</td> -->
<!-- 			<td>Nome Abreviado</td> -->

<!-- 			<td>Sala</td> -->
<!-- 			<td>Ano</td> -->
<!-- 			<td>Classe</td> -->


<!-- 			<td>Editar</td> -->
<!-- 			<td>Remover</td> -->
<!-- 		</tr> -->
<!-- 	</thead> -->
<!-- 	<tbody> -->
<!-- 		<c:forEach items="${classs}" var="classe"> -->
<!-- 			<tr data-id="${classe.id}"> -->

<!-- 				<td>${classe.description}</td> -->
<!-- 				<td>${classe.shortname}</td> -->

<!-- 				<td>${classe.classroom}</td> -->

<!-- 				<td>${classe.year}</td> -->
<!-- <td> -->
<!-- 					<c:forEach items="${classe.grade}" var="ingrediente"> -->
<!-- 						${ingrediente.description} -->
<!-- 					</c:forEach> -->
<!-- 				</td> -->
<!-- 				<td> -->
<!-- 					<button type="button" class="btn btn-warning btn-edite"></button> -->
<!-- 				</td> -->
<!-- 				<td> -->
<!-- 					<button type="button" class="btn btn-danger btn-delete"></button> -->
<!-- 				</td> -->
<!-- 			</tr> -->
<!-- 		</c:forEach> -->
<!-- 	</tbody> -->
<!-- 	<!-- 	<tfoot> --> -->
<!-- 	<!-- 		<tr> --> -->
<!-- 	<%-- 			<td colspan="7">Pizzas cadastradas: <span id="quantidade-classes">${classes.size()}</span></td> --%> -->
<!-- 	<!-- 		</tr> --> -->
<!-- 	<!-- 		<tr> --> -->
<!-- 	<!-- 			<td colspan="7"> --> -->
<!-- 	<!-- 				<button type="button" classe="btn btn-primary" data-toggle="modal" --> -->
<!-- 	<!-- 					data-target="#modal-classe">Cadastrar Pizza</button> --> -->
<!-- 	<!-- 			</td> --> -->
<!-- 	<!-- 		</tr> --> -->
<!-- 	<!-- 	</tfoot> --> -->
<!-- </table> -->