<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">
	
<head>
	<title>Cadastro de Servicos</title>
</head>

<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h3>Inserir Servicos</h3>
					</div>

					<!-- 				<div class="col-sm-2"> -->
					<!-- 					<div class="aw-page-header-controls"> -->
					<!-- 						<a class="btn  btn-default" th:href="@{/allGrades}"> -->
					<!-- 							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisar</span> -->
					<!-- 						</a> -->
					<!-- 					</div> -->
					<!-- 				</div> -->
				</div>
			</div>
		</div>

		<div class="container-fluid">

			<th:block th:include="fragments/MensagemSucesso"></th:block>

			<form id="form-services" method="POST" th:object="${services}"
				class="form-vertical  js-form-loading">
				<th:block th:include="fragments/MensagensErroValidacao"></th:block>

				<div class="row">

					<div>
						<div class="col-sm-2  form-group">
							<label for="description">Descricao: </label> <input
								id="description" name="description" th:field="*{description}"
								class="form-control" />
						</div>

					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
				<br>
				<br>
				<div class="table-responsive  bw-tabela-simples">
					<table id="mytable" class="table  table-hover">

						<tr>
							<th>Id</th>
						</tr>
					</table>
				</div>
			</form>
		</div>

	</section>

	<th:block layout:fragment="javascript-extra">
				<script th:src="@{/javascripts/academic/service.js}"></script>
		
	</th:block>
</body>
</html>