
<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div class="table-responsive  bw-tabela-simples">
	<table id="mytable" class="table  table-hover">

		<tr>
			<th>Descricao</th>
		</tr>
	</table>
</div>
<script>
// $(document).ready(function(data){
// 				var txt = '';
// 				$.getJSON("http://localhost:8080/school/service/allServices",
// 						function(k, v) {

// 							txt += '<tr>';
// 							txt += '<td>' + v.id + '</td>'
// 							txt += '</tr>';

// 						});
// 				$('#mytable').append(txt);

// 			});


$(document).ready(function(){
	
	alert('called');
	
});
</script>
</html>

