
<!-- <!DOCTYPE html> -->
<!-- 	<html> -->
<!-- 	<head> -->
<!-- 		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> -->
<!-- 		<title>${titulo}</title> -->
<!-- 		<c:set var="path" value="${pageContext.request.contextPath}" scope="request"/> -->
<!-- 		<style type="text/css"> -->
/* 			@IMPORT url("${path}/static/bootstrap/css/bootstrap.min.css"); */
/* 			@IMPORT url("${path}/static/bootstrap/css/bootstrap-theme.min.css"); */
<!-- 		</style> -->
<!-- 	</head> -->
<!-- 					<jsp:include page="../../menu-cliente.jsp"/> -->
	
<!-- 	<body> -->
<!-- 		<div class="container"> -->
<!-- 			<c:if test="${not empty mensagemErro}"> -->
<!-- 				<div> -->
<!-- 					<div class="alert alert-danger">${mensagemErro}</div> -->
<!-- 				</div> -->
<!-- 			</c:if> -->
			
<!-- 			<c:if test="${not empty mensagemInfo}"> -->
<!-- 				<div> -->
<!-- 					<div class="alert alert-info">${mensagemInfo}</div> -->
<!-- 				</div> -->
<!-- 			</c:if> -->
			
			

<!-- 		</div> -->
			

<!-- 	</body> -->
<!-- </html> -->